.weather {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 40px;
}
.weather__temperature {
  font-family: "CabinetGroteskBold";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 16px;
  margin: 0;
}

.weather__image {
  object-fit: cover;
  width: 100%;
  object-position: right top;
}
@media screen and (max-width: 630px) {
  .weather {
    margin-bottom: 32px;
  }
}
