.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__user-name {
  margin: 0;
  color: #000;
  font-family: "CabinetGroteskBold";
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
}

.sidebar__avatar,
.sidebar__avatar-image {
  width: 40px;
  height: 40px;
}

.sidebar__avatar,
.sidebar__avatar:visited {
  color: rgba(255, 255, 255, 1);
}

.sidebar__avatar-default {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  font-family: "CabinetGroteskBold";
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__buttons {
  font-family: "CabinetGroteskBold";
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  width: 171px;
  /*margin: 0 0 8px;
  display: none;*/
}

.sidebar__buttons_type_below {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__buttons_type_inline {
  display: none;
}

.sidebar__button {
  border: 0;
  background-color: #f3f3f3;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .sidebar {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    width: 100%;
  }
  .sidebar__user-container {
    align-items: start;
  }
  .sidebar__user-content {
    display: flex;
    flex-direction: column;
  }
  .sidebar__user-name {
    margin-bottom: 12px;
  }
  .sidebar__buttons {
    color: rgba(0, 0, 0, 0.6);
  }
  .sidebar__buttons_type_below {
    display: none;
  }

  .sidebar__buttons_type_inline {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "CabinetGrotesk";
    font-weight: normal;
  }
}
